.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group, .list-group.list-group-root > p .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > p > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > p > .list-group-item {
    padding-left: 45px;
}

.item-p {
    margin: 0;
    position: relative;
}

.item-p > span {
    position: absolute;
    right: 0;
    top: 0;
}
.ls {
    margin-left: -28px;
}
.ls  ul > li{
    list-style: none;
    margin-left: -15px;
}